<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Checkerboard</title>
</head>

<body>
    <h1>Checkerboard</h1>
    <hr />
    <br />
    <table class="board-container">
        <tbody>
            {% for i in range(0, num_1) %}
            <tr>
                {% for x in range(0, num_2) %}
                    {% if (x+i) % 2 == 0 %}
                        <td class="checker-1" style="background-color: {{color_1}};"></td>
                    {% else %}
                        <td class="checker-2" style="background-color: {{color_2}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>